<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImpulsoLocalMovil"
        tools:targetApi="31">

        <!-- LoginActivity como pantalla principal -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity para registrarse -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- MainActivity después del login -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- ListadoEmprendimientosActivity -->
        <activity
            android:name=".ListadoEmprendimientosActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- detalle emprendimientos-->
        <activity
            android:name=".DetalleEmprendimientoActivity"
            android:parentActivityName=".ListadoEmprendimientosActivity"
            android:exported="false" />

        <!--publicar emprendimientos-->
        <activity
            android:name=".PublicarEmprendimientoActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- mi perfil-->
        <activity
            android:name=".MiPerfilActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!--mis esprendimientos-->
        <activity
            android:name=".MisEmprendimientosActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!--mis favoritos-->
        <activity
            android:name=".MisFavoritosActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!--mis cursos-->
        <activity
            android:name=".MisCursosActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- mis eventos-->
        <activity
            android:name=".MisEventosActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!--publicar testimonio-->
        <activity
            android:name=".CrearTestimonioActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!--ajustes -->
        <activity
            android:name=".AjustesActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

    </application>

</manifest>